.banner {
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.left img {
  width: 90%;
  height: 10rem;
  transform: rotateZ(-3deg);
}
.right {
  text-align: center;
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-top: 6rem;
}
@media (min-width: 768px) {
  .banner {
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .left {
    width: 40%;
  }
  .left img {
    width: 98%;
    min-height: 75vh;
  }
  .right {
    width: 60%;
  }
}
