.progressBars {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.currenciesSection {
  margin: 1rem auto;
}
.searchCoin {
  width: 100%;
  text-align: center;
}
.currenciesSection input {
  width: 70%;
  padding: 20px 40px;
  margin: 2rem auto;
  outline: none;
  border: 2px solid gray;
  border-radius: 35px;
  font-size: 1.3rem;
}
.currenciesSection input:focus {
  border: 2px solid var(--ultramarineBlue);
}
.coin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.coinName {
  font-weight: bold;
}
.coinSymbol {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}
.coinImage img {
  width: 2rem;
  height: 2rem;
}
.increase {
  color: var(--malachiteGreen);
}
.decrease {
  color: var(--redSalsa);
}
