.resultBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.converterBox {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  height: fit-content;
}
.selectorBox {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.arrowImg {
  width: 2rem;
  padding: 1rem;
}
.currencyBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.currencyBox p {
  font-weight: 500;
  font-size: 1.1rem;
}

@media (max-width: 850px){
  .selectorBox {
    flex-direction: column;
    align-items: center;
  }
  .arrowImg {
    transform: rotate(90deg);
  }
}