.progress {
  display: flex;
  justify-content: center;
  margin: 3rem;
}
.headerBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
  margin: 1.5rem;
  padding: 1rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.headerBox a {
  color: var(--ultramarineBlue);
  text-decoration: none;
}
.headerBox a:hover {
  color: var(--redSalsa);
}
.coinMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.1rem;
}
.coinMain .title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.coinMain .title a {
  color: var(--ultramarineBlue);
}
.infoBox {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}
.infoInnerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 85vw;
  font-size: 1.1rem;
}
.centerBox {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.lineChartBox {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 98%;
}
.statisticsBox {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 80%;
}
.statisticsBox header {
  margin: 0.5rem auto 1rem auto;
}
.optionsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .infoInnerBox {
    width: 25vw;
    flex-wrap: wrap;
  }
  .headerBox {
    margin: 1.5rem 4rem;
  }
  .infoBox {
    gap: 0.5rem;
    justify-content: space-evenly;
  }
  .optionsBox {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .centerBox {
    flex-direction: row;
    align-items: flex-start;
  }
  .statisticsBox {
    width: 25%;
  }
  .lineChartBox {
    width: 75%;
  }
}
