.navbar {
  font-weight: 500;
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  text-decoration: none;
  color: black;
}
.iconMain {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  width: 60vw;
}
nav {
  display: none;
}
nav.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
nav a {
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
}

@media (min-width: 992px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5rem;
  }
  .iconMain {
    width: 40vw;
  }
  header button {
    display: none;
  }
  nav,
  nav.active {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
    gap: 2rem;
    height: 100%;
  }
  nav a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    transition: all 0.5s ease-out;
  }
  nav a:hover {
    color: var(--ultramarineBlue);
    background-color: aliceblue;
  }
  nav a:focus {
    color: var(--ultramarineBlue);
  }
  .navElementActive {
    border-bottom: 2px solid var(--ultramarineBlue);
    color: var(--ultramarineBlue);
  }
}

/* button styles */
button {
  border: none;
  background-color: white;
}
button span {
  display: block;
  background-color: black;
  width: 30px;
  height: 2px;
  margin: 5px auto;
}
