.coinContainer {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  gap: 1rem;
}
.item1 img {
  max-width: 80%;
  max-height: 80%;
}
.item2 p {
  text-transform: uppercase;
  color: var(--ultramarineBlue);
  text-transform: uppercase;
}
.item2 p,
.item3 p {
  margin: 3px auto;
  font-size: 1rem;
}
.item4 {
  font-size: 1rem;
}
.increase {
  color: var(--malachiteGreen);
}
.decrease {
  color: var(--redSalsa);
}
