:root {
  /* Colour palette for the application */

  --lightWhite: #fbfbfe;
  --ultramarineBlue: #3861fb;
  --malachiteGreen: #1dd15a;
  --redSalsa: #ef5959;

  /* Breakpoints */
  --small: 576px;
  --medium: 768px;
  --large: 992px;
  --xlarge: 1200px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--lightWhite);
}

.main-container {
  padding: 0 2rem;
}
